## Activity I

In [1]:
integer_number = 2

In [2]:
float_number = 2.0

In [4]:
example_string = "my name is AgentM"

In [5]:
example_tuple = (1,2,3,4)

In [6]:
example_int_list = [1,2,3,4]

In [7]:
example_dictionary = {'one': 1, 'two': 2, 'three': 3}

## Activity II

In [8]:
print(integer_number)

2

In [9]:
print(float_number)

2.0

In [10]:
print(example_string)

my name is AgentM

In [11]:
print(example_int_list)

[1, 2, 3, 4]

In [12]:
print(example_dictionary)

{'one': 1, 'two': 2, 'three': 3}

## Activity III

In [13]:
type(integer_number)

int

In [14]:
type(float_number)

float

In [15]:
type(example_string)

str

In [16]:
type(example_int_list)

list

In [18]:
type(example_dictionary)

dict

## Activity IV

In [19]:
int(float_number)

2

In [21]:
float(integer_number)

2.0

In [25]:
int('2.0')

ValueError: invalid literal for int() with base 10: '2.0'

In [26]:
float('2.0')

2.0

In [27]:
str(1)

'1'

## Activity V

In [28]:
my_name = 'sunny_sood'

In [29]:
my_name.upper()

'SUNNY_SOOD'

In [31]:
print(my_name)

sunny_sood

In [32]:
my_name_upper = my_name.upper()

In [33]:
example_list = ['Jaime', 'Jack', 'Joey']

In [35]:
example_list.reverse()

In [36]:
print(example_list)

['Joey', 'Jack', 'Jaime']

In [37]:
last = 'sood'
nums = (1,2,3)
nums2 = (4,5,6)

## Activity VI

In [38]:
len(last)

4

In [39]:
len(nums)

3

In [40]:
len(nums2)

3

## Activity VII

In [43]:
last = 'sood'
nums = (1,2,3)
nums2 = (4,5,6)

In [44]:
print(last[1])
print(nums[2])
print(nums2[0])

o
3
4

## Activity VIII

In [45]:
dict = {'four': 4, 'five': 5, 'six': 6}

In [46]:
dict['four']

4

In [47]:
len(dict)

3

## Activity IX

In [49]:
#text exercise

## Activity XIV

In [5]:
name = 'sunny'
full_name = 'sunny sood'

if name in full_name:
    print("that's sunny!")

that's sunny!

## Activity XV

In [6]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 2
Positive

## Activity XVI

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

## Activity XVII

In [ ]:
x = True
while(x):
    print('hi')

## TASK II

In [ ]:
## Example 1

In [1]:
def sunny_name():
    print('your name is Sunny!')
    return

In [2]:
sunny_name()

your name is Sunny!

In [3]:
## Example 2

In [10]:
def hypo(a,b):
    import numpy as nump
    hypotenuse = nump.sqrt(a**2+b**2)
    return hypotenuse

In [11]:
a = 5
b = 6
hypo = hypo(a,b)

In [12]:
hypo

7.810249675906654

In [13]:
## Example 3

In [14]:
for i in range(5):
    sunny_name()

your name is Sunny!
your name is Sunny!
your name is Sunny!
your name is Sunny!
your name is Sunny!

In [18]:
def hypo(a,b):
    import numpy as nump
    hypotenuse = nump.sqrt(a**2+b**2)
    return hypotenuse
def area(b,h):
    area_of_tri = (b*h)/2.0
    return area_of_tri
def properties(p1,p2):
    hypot = hypo(p1,p2)
    areaT = area(p1,p2)
    return hypot, areaT

In [19]:
c = 7.0
d = 8.0

hy, triangle_area = properties(c,d)

In [20]:
hy

10.63014581273465

In [21]:
triangle_area

28.0

## TASK III

In [ ]:
## a

In [9]:
import numpy as np

def euclidean_distance(x,y):
    e_distance = 0
    e_distance = np.linalg.norm(np.array(x) - np.array(y))
    
    return e_distance

In [10]:
point_a = (1,2)
point_b = (2,4)
euc_distance = euclidean_distance(point_a,point_b)
print(euc_distance)

2.23606797749979

In [5]:
## B

In [7]:
import math

def circle_area(r):
    c_area = 0.0
    c_area = math.pi * (r**2)
    
    return c_area

In [8]:
radius = 5.0
circleArea = circle_area(radius)
print(circleArea)

78.53981633974483

In [6]:
## C

In [ ]:
# A function that computes the square of the dictionary's values.
def square_of_dict_values(myDict):
    myDict_square = {}
    #to-do
    # write your python code here to compute the square of the value
    
    return myDict_square

In [11]:
def square_of_dict_values(myDict):
    myDict_square = {}
    for key in myDict:
        myDict_square[key] = myDict[key]**2
    
    return myDict_square

In [12]:
myDict = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
myDict_square = square_of_dict_values(myDict)

In [13]:
myDict_square

{'one': 1, 'two': 4, 'three': 9, 'four': 16, 'five': 25}